doctype html
html
  head
    meta(charset="UTF-8")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    title Barebone Modular HTML
    link(rel="stylesheet", href="style.css")
    link(rel="icon", type="image/png", href="/assets/images/hero_icon.webp")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  body
    include parts/navbar.pug
    include parts/hero.pug
    include parts/footer.pug

    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="script.js")

