section.section-aboutus
    img.oranament-bg(src="/assets/images/bg-aboutus.svg", alt="Ornament Background About Us")
    .container.aboutus__container
        .aboutus__content
            .aboutus__content-head
                span.aboutus__content--span
                    img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                    span About Us
                h2.aboutus__content--title Modern Financial and Data Operation Span Dozens of Vendors, Ledgers, and Tools.
                .aboutus__content--icon
                    img(src="/assets/images/icon_rightup.svg", alt="icon About Us Icon")
                    img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
            .aboutus__content-body
                .body__left
                    span /15 
                        span +
                    span Lorem ipsum
                .body__center
                    img.arrow-left(src="/assets/images/aboutus_leftarrow.svg", alt="About Us Image")
                    img(src="/assets/images/aboutus-img.png", alt="About Us Image")
                    img.arrow-right(src="/assets/images/aboutus_leftarrow.svg", alt="About Us Image")
                .body__right
                    p Relianta provides a single connective layer-an eventdriven mesh that routes data, automates decisions, and keeps every step observable and auditable. Bring your own providers. Keep your stack. We make it work together.
                    a.btn.btn-black Learn More