section.services
    img.oranament-bg(src="/assets/images/ornament_whoserve.svg", alt="Ornament Background About Us")
    .container.services__container
        .services__content
            .services__content-head
                h1 Relianta Build Fast. Stay Compliant. Stay in Control.
                p Relianta builds the connective software layer that lets regulated organization move faster without losing control. We focus on three things: clean design, observable operations, and outcomes you can measure.
    .services__content-body
        img(src="/assets/images/company-hero.png", alt="Relianta L")