section.howwework
    img.oranament-bg(src="/assets/images/bg-grid-ornament.svg", alt="Ornament Background About Us")
    .container.howwework__container
        .howwework__content
            .howwework__content-head
                .howwework__content--icon
                    span.howwework__content--span
                        img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                        span CONTACT US
                h2.howwework__content--title Talk to Relianta.
            .contact-page
                .contact-left
                    h2.form_title Send us a Message
                    form.contact-form
                        .input-group
                            input(type="text" placeholder="Name*")
                            input(type="email" placeholder="E-mail*")
                        textarea(placeholder="Message")

                        p.contact-note Send us a brief description of your goals and current systems. We’ll reply with proposed next steps—typically a 30minute discovery call and, if useful, access to a sandbox environment.

                        button.send-btn SEND NOW


                .contact-right
                    .contact-content.top
                        .contact-content-title
                            span CONTACT DETAILS
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .contact-details
                            .contact-item
                                span.label SALES & PARTNERSHIPS
                                span.val sales@relianta.com

                            .contact-item
                                span.label SUPPORT
                                span.val support@relianta.com

                            .contact-item
                                span.label GENERAL
                                span.val hello@relianta.com

                            .contact-item
                                span.label RFPS & DUE DILIGENCE
                                span.val diligence@relianta.com
                    hr
                    .contact-content
                        .contact-content-title
                            span our office
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .contact-details.office-deatails
                            .contact-item
                                span.label united states office
                                span.val 340 King Street, San Francisco, CA 94107

                            .contact-item
                                span.label Additional locations
                                span.val Singapore &nbsp; &nbsp; &nbsp;London
