section.core
    img.oranament-bg(src="/assets/images/ornament-core.svg", alt="Ornament Background About Us")
    .container.core__container
        .core__content
            .core__content-head
                span.tag-section.white
                    img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                    span core capabilities
                h2.core__content--title Built for Financial Precision
                img.core__img-oranment(src="/assets/images/core_ornament.svg", alt="About Us Icon") 
            .core__content-bottom
                .card__item
                    .card__item-head
                        h3 Orchestration & Routing
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <path d="M0 0.75H8V8.75" stroke="#33CCBE" stroke-width="1.5"/>
                        </svg>
                    span Policybased flows for transactions, events, and data.
                .card__item
                    .card__item-head
                        h3 Casework & Reviews
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <path d="M0 0.75H8V8.75" stroke="#33CCBE" stroke-width="1.5"/>
                        </svg>
                    span Structured queues, timelines, and audit trails for exceptions and investigations.
                .card__item
                    .card__item-head
                        h3 Reconciliation & Ledgers
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <path d="M0 0.75H8V8.75" stroke="#33CCBE" stroke-width="1.5"/>
                        </svg>
                    span Balance tracking, settlement matching, and clean exports to finance systems.
                .card__item
                    .card__item-head
                        h3 Data Pipelines & Analytics
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <path d="M0 0.75H8V8.75" stroke="#33CCBE" stroke-width="1.5"/>
                        </svg>
                    span Standardized schemas, observability, and realtime dashboards.