section.footer
  .container
    .footer__card
      .footer__head 
        h2 
          | A Life of
          span 
          | Boundless Creativity
        .footer__menu 
          a(href="") Home
          a(href="") Insight
      .footer__body
        p His work reminds us that the future belongs to those who imagine boldly and build fearlessly.
        a(href="").btn Lets talk!
  .container
    a(href="") Privacy Policy/Terms
    p All rights reserved ©BAREBONES 2025