section.forfinancial
    img.oranament-bg(src="/assets/images/bg-grid-ornament.svg", alt="Ornament Background About Us")
    .container.forfinancial__container
        .forfinancial__content
            .forfinancial__content-head
                .forfinancial__content--icon
                    span.forfinancial__content--span
                        img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                        span FOR MARKETPLACE & PLATFORM
                    //- img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                h2.forfinancial__content--title Manageable Money Movement
                span.forfinancial__content--span
                    span.forfinancial__dsc Relianta connects systems through an event-driven layer that routes financial data and automates operations.
            .forfinancial__content-body
                .forfinancial__content-card
                    .forfinancial__card-head
                        .forfinancial__card-span
                            span // 01 - 03
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .forfinancial__card-title
                            span Mass Payouts <br> & Splits
                        img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                    .forfinancial__card-body
                        span Realtime ledgers, multientity balances, and automated statements.
                .forfinancial__content-card
                    .forfinancial__card-head
                        .forfinancial__card-span
                            span // 02 - 03
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .forfinancial__card-title
                            span Embedded <br> Onboarding
                        img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                    .forfinancial__card-body
                        span Dropin KYC/KYB and verification flows within your UX.
                .forfinancial__content-card.black
                    .forfinancial__card-head
                        .forfinancial__card-span
                            span // 03 - 03
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .forfinancial__card-title
                            span Finance <br> Ops
                        img(src="/assets/images/stipes_ornament.svg", alt="icon About Us Icon")
                    .forfinancial__card-body
                        span Automated reconciliation and exports that let finance close the books on time.
            .formarket__content-img
                span.formarket__content--span
                    img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                    span RESULT
                h3.formarket__img-text Operational Clarity at Scale, Minus the Custom Glue Code.
            