section.forfinancial
    img.oranament-bg(src="/assets/images/bg-grid-ornament.svg", alt="Ornament Background About Us")
    .container.forfinancial__container
        .forfinancial__content
            .forfinancial__content-head
                .forfinancial__content--icon
                    span.forfinancial__content--span
                        img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                        span FOR PAYMENT COMPANIES & PSPs
                    //- img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                h2.forfinancial__content--title New Corridors, <br> Fewer Exceptions.
                span.forfinancial__content--span
                    span.forfinancial__dsc Relianta connects payment systems through an event-driven layer that unifies data and automates transaction flows.
            .forfinancial__content-body
                .forfinancial__content-card.black
                    .forfinancial__card-head
                        .forfinancial__card-span
                            span // 01 - 03
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .forfinancial__card-title
                            span Reusable <br> Connectors
                        img(src="/assets/images/stipes_ornament.svg", alt="icon About Us Icon")
                    .forfinancial__card-body
                        span Launch markets using prebuilt adapters and a consistent data model.
                .forfinancial__content-card
                    .forfinancial__card-head
                        .forfinancial__card-span
                            span // 02 - 03
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .forfinancial__card-title
                            span Adaptive <br> Routing
                        img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                    .forfinancial__card-body
                        span  Improve authorization and settlement fidelity with rulebased decisioning.
                .forfinancial__content-card
                    .forfinancial__card-head
                        .forfinancial__card-span
                            span // 03 - 03
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <path d="M0 0.75H8V8.75" stroke="#458781" stroke-width="1.5"/>
                            </svg>
                        .forfinancial__card-title
                            span Merchant <br> Experience
                        img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                    .forfinancial__card-body
                        span Predictable settlement windows, transparent reporting, and live status tracking.
            .forpayment__content-img
                span.forpayment__content--span
                    img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                    span RESULT
                h3.forpayment__img-text Faster Timetomarket and Improved Reliability Across Providers.
            