section.hero
  .container
    .hero__title-wrap
      h1.hero__title(data-aos="fade-up" data-aos-delay="200" data-aos-offset="20") 
        | Barebone 
        span 
        | Html Pugjs SCSS
      span(data-aos="fade-up" data-aos-delay="250" data-aos-offset="20") ( 01 )
    .hero__tag-group(data-aos="fade-up" data-aos-delay="400" data-aos-offset="20") 
      .tag HTML
      .tag PUGJS
      .tag SCSS
  .container.hero__foot
    .container
        p.hero__desc(data-aos="fade-up" data-aos-delay="600" data-aos-offset="20") 
          strong He is an innovator whose ideas transcend disciplines, 
          | a global entrepreneur who helped shape modern e-commerce, and a celebrated artist whose work has left a mark in prestigious institutions worldwide.
        .hero__tagline
          img(src="/assets/images/hero_icon.webp", alt="", height="48", width="48" data-aos="fade" data-aos-delay="750" data-aos-offset="20")
          p(data-aos="fade-up" data-aos-delay="700" data-aos-offset="20") visionary whose work defies convention
