section.hero
  img.oranament-bg(src="/assets/images/bg-line_hero.svg", alt="line")
  img.img-human(src="/assets/images/bg_human.png", alt="human")
  img.img-mobile-human(src="/assets/images/mobile_homepage.png", alt="human mobile")
  .hero__layout
    .container.hero__top
      .hero__btn.mobile-btn_hero
        span Get Started
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M11.4282 11.4284L4.57108 4.57129" stroke="white" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.4282 4.65674V11.4282H4.65679" stroke="white" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      .hero__top-left
        .top__fotos
          .top__fotos-head
            img(src="/assets/images/img_fotos.png", alt="Relianta L")
            span 1K+
          span Trusted by teams worldwide your story deserves to be next.

        .scroll_down
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <g opacity="0.6">
              <path d="M7 12.8335C9.40917 12.8335 11.375 10.8676 11.375 8.45848V5.54181C11.375 3.13264 9.40917 1.16681 7 1.16681C4.59083 1.16681 2.625 3.13264 2.625 5.54181V8.45848C2.625 10.8676 4.59083 12.8335 7 12.8335Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7 6.41685C6.51583 6.41685 6.125 6.02602 6.125 5.54185V4.37518C6.125 3.89102 6.51583 3.50018 7 3.50018C7.47833 3.50018 7.875 3.89102 7.875 4.37518V5.54185C7.875 6.02602 7.47833 6.41685 7 6.41685Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7 3.50014V1.16681" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          span(data-aos="fade-up" data-aos-delay="250" data-aos-offset="20") SCROLL TO EXPLORE
      .hero__tagline
        img.icon_hero(src="/assets/images/global.svg", alt="", height="20", width="20" data-aos="fade" data-aos-delay="750" data-aos-offset="20")
        p(data-aos="fade-up" data-aos-delay="700" data-aos-offset="20") Relianta unifies APIs, data, and human workflows so banks, payment platforms, and marketplaces can ship faster with confidence.
    .container.hero__bottom
      .hero__title-wrap
        .hero__display
          span ©2025
          h1.hero__title(data-aos="fade-up" data-aos-delay="200" data-aos-offset="20") The Middleware Mesh for Regulated Operations.
        .hero__btn.dekstop-btn_hero
          span Get Started
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M11.4282 11.4284L4.57108 4.57129" stroke="white" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.4282 4.65674V11.4282H4.65679" stroke="white" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .scroll_down
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <g opacity="0.6">
              <path d="M7 12.8335C9.40917 12.8335 11.375 10.8676 11.375 8.45848V5.54181C11.375 3.13264 9.40917 1.16681 7 1.16681C4.59083 1.16681 2.625 3.13264 2.625 5.54181V8.45848C2.625 10.8676 4.59083 12.8335 7 12.8335Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7 6.41685C6.51583 6.41685 6.125 6.02602 6.125 5.54185V4.37518C6.125 3.89102 6.51583 3.50018 7 3.50018C7.47833 3.50018 7.875 3.89102 7.875 4.37518V5.54185C7.875 6.02602 7.47833 6.41685 7 6.41685Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7 3.50014V1.16681" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          span(data-aos="fade-up" data-aos-delay="250" data-aos-offset="20") SCROLL TO EXPLORE