section.keyoutcome
    img.oranament-bg(src="/assets/images/bg-aboutus.svg", alt="Ornament Background About Us")
    .container.keyoutcome__container
        .keyoutcome__content
            .keyoutcome__content-head
                .keyoutcome__content--icon
                    span.keyoutcome__content--span
                        img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                        span KEY OUTCOMES
                    img(src="/assets/images/icon_rightbtm.svg", alt="icon About Us Icon")
                h2.keyoutcome__content--title Key Outcomes That Drive Better Decisions.
                span.keyoutcome__content--span
                    span.keyoutcome__dsc Relianta brings all your financial and data tools together to simplify workflows and accelerate decisions.
            .keyoutcome__content-body
                .keyoutcome__content-body--title
                    span NO.
                    span SERVICES NAME
                    span DESCRIPTION
                .keyoutcome__content-body--list.key-1
                    .keyoutcome__content-body--item
                        span.item__number /01
                        span.item__title One Integration, Many Connections
                        .item__dsc 
                            span Get instant insights with our real-time data processing and analytics tools.
                            a.btn.btn-green <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M12.8572 5.14289L5.14289 12.8572" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.8572 12.761V5.14313H5.23932" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                .keyoutcome__content-body--list.key-2
                    .keyoutcome__content-body--item
                        span.item__number /02
                        span.item__title Operational Clarity
                        .item__dsc 
                            span Get instant insights with our real-time data processing and analytics tools.
                            a.btn.btn-green <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M12.8572 5.14289L5.14289 12.8572" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.8572 12.761V5.14313H5.23932" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                .keyoutcome__content-body--list.key-3
                    .keyoutcome__content-body--item
                        span.item__number /03
                        span.item__title Automation Without Chaos
                        .item__dsc 
                            span Get instant insights with our real-time data processing and analytics tools.
                            a.btn.btn-green <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M12.8572 5.14289L5.14289 12.8572" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.8572 12.761V5.14313H5.23932" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                .keyoutcome__content-body--list.key-4
                    .keyoutcome__content-body--item
                        span.item__number /04
                        span.item__title One Integration, Many Connections
                        .item__dsc 
                            span Get instant insights with our real-time data processing and analytics tools.
                            a.btn.btn-green <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M12.8572 5.14289L5.14289 12.8572" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.8572 12.761V5.14313H5.23932" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>