- var theme = typeof theme !== 'undefined' ? theme : 'light'

section.navbar(class=`navbar--${theme}`)
  .container
    .navbar__logo
      span
        img(src="assets/images/logo-navbar.svg" alt="Brand Logo")
        a(href="#") relianta
        

    .navbar__menu
      .navbar__links--wrap
        a(href="/") Home
        a(href="services.html") Services
        a(href="solutions.html") Solutions
        a(href="company.html") Company
      a.btn(href="company.html#contact") CONTACT US

    button.navbar__toggle(type="button" aria-label="Toggle Menu")
      span
      span
      span
