section.running-text
    .container(data-aos="fade" data-aos-delay="200" data-aos-offset="20") 
        for i in [1,2,3,4]
            .running-text__wrap
                .running-text__item
                    img(src="assets/images/relianta_running-img.svg" alt="Running Icon")
                .dot
                .running-text__item
                    img(src="assets/images/relianta_running-img.svg" alt="Running Icon")
                .dot
                .running-text__item
                    img(src="assets/images/relianta_running-img.svg" alt="Running Icon")
                .dot
                .running-text__item
                    img(src="assets/images/relianta_running-img.svg" alt="Running Icon")
                .dot
                //- .running-text__item RELIANTA®
                //- .dot
                //- .running-text__item RELIANTA®
                //- .dot
