section.running-text
    .container(data-aos="fade" data-aos-delay="200" data-aos-offset="20") 
        for i in [1,2,3,4]
            .running-text__wrap
                .running-text__item AUTOMATION
                .dot
                .running-text__item COMPLIANCE
                .dot
                .running-text__item OBSERVABILITY
                .dot
                .running-text__item INTEGRATION
                .dot
                //- .running-text__item RELIANTA®
                //- .dot
                //- .running-text__item RELIANTA®
                //- .dot
