section.services
    img.oranament-bg(src="/assets/images/ornament_whoserve.svg", alt="Ornament Background About Us")
    .container.services__container
        .services__content
            .services__content-head
                h1 From First Diagram to Steady State. We Stay For The Outcomes.
                p Relianta pairs a modern middleware platform with teams that understand regulated operations. Engage endtoend or fill specific gaps—your choice.
    .services__content-body
        img(src="/assets/images/sevices_hero.png", alt="Relianta L")