section.solutions
    img.oranament-bg(src="/assets/images/ornament_whoserve.svg", alt="Ornament Background About Us")
    .container.solutions__container
        .solutions__content
            .solutions__content-head
                h1 Purposebuilt Solution Patterns for Common, Complex Problems.
                p Every organization is different; the problems rhyme. Relianta offers solution patterns you can tailor to your stack and jurisdiction.
    .solutions__content-body
        img(src="/assets/images/solutions-hero-img.png", alt="Relianta L")