section.sponsore
    .container.sponsore__container
        .sponsore__logos
            img.sponsore__logo(src="/assets/images/logo1.svg", alt="Logo 1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="20")
            img.sponsore__logo(src="/assets/images/logo2.svg", alt="Logo 2" data-aos="fade-up" data-aos-delay="400" data-aos-offset="20")
            img.sponsore__logo(src="/assets/images/logo3.svg", alt="Logo 3" data-aos="fade-up" data-aos-delay="500" data-aos-offset="20")
            img.sponsore__logo(src="/assets/images/logo4.svg", alt="Logo 4" data-aos="fade-up" data-aos-delay="600" data-aos-offset="20")
            img.sponsore__logo(src="/assets/images/logo5.svg", alt="Logo 5" data-aos="fade-up" data-aos-delay="700" data-aos-offset="20")