section.section-whoweserve
    img.oranament-bg(src="/assets/images/ornament_whoserve.svg", alt="Ornament Background About Us")
    .container.whoweserve__container
        .whoweserve__content
            .whoweserve__content-head
                span.whoweserve__content--span
                    img(src="/assets/images/icon_span.svg", alt="About Us Icon") 
                    span WHO WE SERVE
                .whoweserve__content--title
                    h2 Where Banks, Payment —
                    h2 Platforms, and Fintech Builders
                    h2 Work Together Seamlessly
                .whoweserve__content--icon
                    .whoweserve-icon_head
                        img(src="/assets/images/img_fotos.png", alt="Relianta L")
                        span 1K+
                    span Trusted by teams worldwide your story deserves to be next.
            .whoweserve__content-body
                .content-body_left
                    .whoweserve__link
                        span /01
                        span Banks & Credit Unions
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M22.8571 22.8574L9.14283 9.14307" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.8571 9.31348V22.8563H9.31426" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .whoweserve__link
                        span /02
                        span Payment Companies & PSPs
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M22.8571 22.8574L9.14283 9.14307" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.8571 9.31348V22.8563H9.31426" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .whoweserve__link
                        span /03
                        span Marketplaces & B2B Platforms
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M22.8571 22.8574L9.14283 9.14307" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.8571 9.31348V22.8563H9.31426" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .whoweserve__link
                        span /04
                        span Fintech Builders
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M22.8571 22.8574L9.14283 9.14307" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.8571 9.31348V22.8563H9.31426" stroke="#458781" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .content-body_img.show
                    img(src="/assets/images/whatweserve-ornament.svg", alt="Relianta L")
                    img.whoserve_fotos(src="/assets/images/whoweserve-img.png", alt="Relianta L")
                    span Relianta helps traditional and digital banks modernize their operations — from payments and reconciliation to data automation. We unify fragmented systems, enhance visibility, and ensure compliance across every transaction.
                .content-body_img
                    img(src="/assets/images/whatweserve-ornament.svg", alt="Relianta L")
                    img.whoserve_fotos(src="/assets/images/whoweserve-img2.png", alt="Relianta L")
                    span 2 Relianta helps traditional and digital banks modernize their operations — from payments and reconciliation to data automation. We unify fragmented systems, enhance visibility, and ensure compliance across every transaction.
                .content-body_img
                    img(src="/assets/images/whatweserve-ornament.svg", alt="Relianta L")
                    img.whoserve_fotos(src="/assets/images/whoweserve-img3.png", alt="Relianta L")
                    span 3 Relianta helps traditional and digital banks modernize their operations — from payments and reconciliation to data automation. We unify fragmented systems, enhance visibility, and ensure compliance across every transaction.
                .content-body_img
                    img(src="/assets/images/whatweserve-ornament.svg", alt="Relianta L")
                    img.whoserve_fotos(src="/assets/images/whoweserve-img4.png", alt="Relianta L")
                    span 4 Relianta helps traditional and digital banks modernize their operations — from payments and reconciliation to data automation. We unify fragmented systems, enhance visibility, and ensure compliance across every transaction.