@use 'mixins';
@use 'base' as *;

section.section-aboutus{
    background-color: $white;
    position: relative;
    .aboutus__container{
        padding-top: 120px;
        padding-bottom: 100px;
        position: relative;
        @include mixins.respond(md) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .aboutus__content{
            .aboutus__content-head{
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                justify-content: space-between;
                @include mixins.respond(md) {
                    flex-direction: column;
                }
            }
            &--span{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 12px;
                gap: 6px;
                img{
                    width: 24px;
                    height: 24px;
                }
                span{
                    color: rgba(2, 6, 9, 0.80);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.12px;
                    text-transform: uppercase;
                }
            }
            &--title{
                color: #020609;
                font-family: Inter;
                font-size: 52px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%; /* 67.6px */
                letter-spacing: -2.08px;
                max-width: 900px;
                @include mixins.respond(md) {
                    font-size: 32px;
                    margin-top: 12px;
                }
            }
            &--icon{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 60px;
                padding-top: 16px;
                @include mixins.respond(md) {
                    display: none;
                }
                img:nth-child(1){
                    width: 48px;
                    height: 24px;
                }
                img:nth-child(2){
                    width: 196px;
                    height: 16px;
                }
            }
        }
        .aboutus__content-body{
            margin-top: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            @include mixins.respond(md) {
                flex-direction: column;
                gap: 80px;
            }
            .body__left{
                width: 100%;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 28.8px */
                letter-spacing: -0.72px;
                color: #020609;
                max-width: 379px;
                display: flex;
                flex-direction: column;
                span:nth-child(1){
                    color: #020609;
                    font-family: Inter;
                    font-size: 88px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%; /* 96.8px */
                    letter-spacing: -3.52px;
                    span{
                        color: #207080;
                    }
                }
                span:nth-child(2){
                    color: #020609;
                    text-align: justify;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 25.6px */
                }
            }
            .body__center{
                display: flex;
                flex-direction: row;
                gap: 16px;
                @include mixins.respond(md) {
                    flex-direction: column;
                }
                img{
                    width: 442px;
                    height: 480px;
                    @include mixins.respond(md) {
                        width: 100%;
                        height: auto;
                    }
                }
                .arrow-left{
                    width: 44px;
                    height: 22px;
                    margin-top: auto;
                }
                .arrow-right{
                    width: 44px;
                    height: 22px;
                    transform: rotate(180deg);
                    @include mixins.respond(md) {
                        margin-left: auto;
                    }
                }
            }
            .body__right{
                color: #020609;
                text-align: justify;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;

                max-width: 379px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                @include mixins.respond(md) {
                    max-width: 100%;
                }
            }
        }
    }
}