@use 'mixins';

$white: #ffffff;
$black: #000000;
$white-60: rgba(255, 255, 255, 0.60);

@font-face {
  font-family: "Thunder LC";
  src: url("assets/images/Thunder-LC.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
  box-sizing: border-box;
  margin: unset;
  @include mixins.font('primary');
}

body {
  font-family: sans-serif;
  background: $white;
  color: black;
  h1, h2, h3, h4 {
    margin: unset;
  }
  a{
    text-decoration: none;
    color: $white;
  }
}

section{
  width: 100%;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-inline: 40px;

  @include mixins.respond(lg) {
    padding-inline: 20px;
  }

  @include mixins.respond(md) {
    padding-inline: 10px;
  }
}

.tag{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  color: white;

  &{
    @include mixins.font('primary');
  }

  @include mixins.respond(md) {
    font-size: 14px;
    padding: 4px 12px;
  }

  &.black{
    color: black;
    border: 1px solid #CCCCCC;
  }
}

button, .btn{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
  cursor: pointer;
  display: flex;
  padding: 17px 32px;
  align-items: center;
  gap: 8px;
  background: #fff;
  color: black;
  text-decoration: none;
  transition: all 300ms ease;
  @include mixins.font('primary');
  @include mixins.respond(md) {
    padding: 12px 24px;
    font-size: 14px;
  }

  &:hover{
    filter: brightness(0.9);
    text-decoration: underline;
  }
  
}
.btn-submit{
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(69, 135, 129, 1);
  padding: 8px;
  border-style: none;
  border-color: none;
}