@use 'mixins';

*{
  box-sizing: border-box;
  margin: unset;
  @include mixins.font('primary');
}

body {
  font-family: sans-serif;
  background: #F5F3EF;
  color: black;
  h1, h2, h3, h4 {
    margin: unset;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

section{
  width: 100%;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-inline: 80px;

  @include mixins.respond(lg) {
    padding-inline: 40px;
  }

  @include mixins.respond(md) {
    padding-inline: 20px;
  }
}

.tag{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  color: white;

  &{
    @include mixins.font('secondary');
  }

  @include mixins.respond(md) {
    font-size: 14px;
    padding: 4px 12px;
  }

  &.black{
    color: black;
    border: 1px solid #CCCCCC;
  }
}

.btn{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;

  display: flex;
  padding: 20px 40px;
  align-items: center;
  gap: 8px;

  border-radius: 56px;
  background: #FF580A;

  color: white;
  text-decoration: none;

  transition: all 300ms ease;

  @include mixins.font('primary');

  @include mixins.respond(md) {
    padding: 12px 24px;
    font-size: 14px;
  }

  &:hover{
    filter: brightness(0.9);
    text-decoration: underline;
  }
}