@use 'mixins';
@use 'base' as *;

.footer{
  background: linear-gradient(180deg, #020609 0%, #234441 100%);
  padding-top: 108px;

  .container:nth-child(1){
    padding-inline: 32px;

    @include mixins.respond(md) {
      padding-inline: 20px;
    }
  }

  .container:nth-child(2){
    padding-block: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      color: #FFF;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.56px;
    }
    
    @include mixins.respond(md) {
      flex-direction: column;
      gap: 12px;
    }
    .menus__allright{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;

      a{
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.56px;

        &{
          @include mixins.font('secondary');
        }
      }
    }

    p{
      &{
        @include mixins.font('secondary');
      }
    }
  }

  &__card{
    display: flex;
    flex-direction: column;
    gap: 148px;
    color: $white;
    @include mixins.respond(md) {
      gap: 82px;
    }
  }

  &__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mixins.respond(md) {
      flex-direction: column;
      gap: 24px;
    }
    .footer__title{
      h2{
        width: 100%;
        max-width: 464px;
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 52px */
        letter-spacing: -1.6px;
        
        @include mixins.respond(xl) {
          font-size: 64px;
        }

        @include mixins.respond(md) {
          font-size: 38px;
          letter-spacing: -1.2px;
          max-width: 100%;
          word-break: break-word;
        }

        @include mixins.respond(sm) {
          font-size: 28px;
          letter-spacing: -1px;
        }
      }
      .form-footer{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 443px;
        padding-bottom: 16px;
        border-bottom: 0.8px solid rgba(255, 255, 255, 0.16);
        .form-footer__input{
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          color: $white;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          letter-spacing: -0.64px;
        }
      }
    }

  }

  &__menu{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 24px;

    a{
      color: $white;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 21.6px */
      letter-spacing: -0.72px;
      text-transform: uppercase;

      &{
        @include mixins.font('secondary');
      }
    }
  }
  &__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      color: #FFF;
      font-size: 480px;
      font-style: normal;
      font-weight: 600;
      line-height: 0.85;
      font-family: 'Thunder LC';
      display: flex;
      span{
        color: #FFF;
        font-family: 'Thunder LC';
        font-size: 187px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 224.4px */
        letter-spacing: -7.48px;
        text-transform: uppercase;
      }

      @include mixins.respond(md) {
        font-size: 24px;
        letter-spacing: -1px;
      }
    }
  }
}