@use 'mixins';
@use 'base' as *;

.hero{
  background:
  url("/assets/images/noice_grain.svg") repeat,
  linear-gradient(180deg, #020609 0%, #458781 100%);
  .hero__layout{
    max-width: 1440px;
    padding-top: 120px;
    width: 100%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mixins.respond(md) {
      height: auto;
      padding-top: 80px;
      background: linear-gradient(180deg, #020609 0%, #458781 100%);
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 140px;
    }
  }
  &__title {
    color: #FFF;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -3.52px;

    @include mixins.respond(lg) {
      font-size: 80px;
      letter-spacing: -3px;
      max-width: 400px!important;
    }

    @include mixins.respond(md) {
      font-size: 44px;
      letter-spacing: -1.5px;
      max-width: 100%;
    }

    &-wrap{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      @include mixins.respond(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
      }
      span{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;

        &{
          @include mixins.font('secondary');
        }
      }
      .hero__display{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 800px;
        gap: 8px;
        span {
          color: $white-60;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 28.8px */
          letter-spacing: -1.44px;
          @include mixins.respond(md) {
            font-size: 18px;
          }
        }
      }
      .hero__btn{
        border-radius: 100px;
        border: 0.8px solid rgba(255, 255, 255, 0.24);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 58.51%);
        box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.02) inset, 0 -24px 32px 0 rgba(0, 0, 0, 0.24) inset, 0 8px 24px 0 rgba(255, 255, 255, 0.06) inset;
        backdrop-filter: blur(12px);
        margin-bottom: auto;
        margin-top: auto;

        display: flex;
        width: 200px;
        min-width: 200px;
        padding: 79px 32px;
        align-items: flex-end;
        gap: 8px;
        justify-content: center;
        @include mixins.respond(md) {
          padding: 20px 32px;
          border-radius: 80px;
          width: 100%;
        }

        span{
          color: #FFF;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 20.8px */
          letter-spacing: 0.96px;
          text-transform: uppercase;
          max-width: 79px;
          @include mixins.respond(md) {
            max-width: 100%;
          }
        }
      }

    }
  }
  &__tagline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 328px;
    @include mixins.respond(md) {
      max-width: 100%;
      align-items: flex-start;
    }
    p{
      color: rgba(255, 255, 255, 0.80);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      @include mixins.respond(md) {
        text-align: left;
        font-size: 16px;
        letter-spacing: -0.46px;
      }
    }
    .icon_hero{
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px;
      border: solid 1px rgba(255, 255, 255, 0.20);
      border-radius: 100%;
    }

  }
  .container.hero__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: auto;
    align-items: center;
    @include mixins.respond(md) {
      gap: 40px;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 40px;

    }
    .hero__top-left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 240px;
      @include mixins.respond(md) {
        gap: 100px;
      }
      .top__fotos{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        justify-content: center;
        max-width: 207px;
        .top__fotos-head{
          display: flex;
          flex-direction: row;
          gap: 12px;
          align-items: center;
          justify-content: center;
          img{
            width: 96px;
            height: 40px;
          }
        }
        span{
          color: rgba(255, 255, 255, 0.80);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }
      }
    }
  }

  .container.hero__bottom{
    margin-top: 40px;
    margin-bottom: 32px;
  }

  &__foot{
    max-width: 100%;
    padding-inline: unset;
    padding-top: 48px;

    .container{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include mixins.respond(md) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 42px;
      }
    }
  }

  .scroll_down{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: center;
    @include mixins.respond(md) {
      display: none;
    }
    span{
      color: $white-60;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.48px;
      text-transform: uppercase;
    }
  }
}


.img-human{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 54px;
  left: 0;
  object-fit: cover;
  @include mixins.respond(md) {
    display: none;
  }
}
.img-mobile-human{
  display: none;
  @include mixins.respond(md) {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: contain;
    height: auto;
    margin-top: 40px;
  }
}
.mobile-btn_hero{
  display: none;
  @include mixins.respond(md) {
    display: flex;
    padding: 20px 32px;
    border-radius: 80px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0.8px solid rgba(255, 255, 255, 0.24);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 58.51%);
    box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.02) inset, 0 -24px 32px 0 rgba(0, 0, 0, 0.24) inset, 0 8px 24px 0 rgba(255, 255, 255, 0.06) inset;
    backdrop-filter: blur(12px);
  }
}
.dekstop-btn_hero{
  @include mixins.respond(md) {
    display: none!important;
  }
}