@use 'mixins';

.hero{
  padding-top: 176px;
  padding-bottom: 80px;
  background-color: #E08C30;
  background: #E08C30 url('../assets/images/hero_wide_screen.webp') no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

  @include mixins.respond(md) {
    padding-top: 120px;
  }
  
  &__title {
    font-size: 120px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -4.8px;
    text-transform: uppercase;
    max-width: 70%;
    margin-bottom: 32px;

    @include mixins.respond(lg) {
      font-size: 80px;
      letter-spacing: -3px;
    }

    @include mixins.respond(md) {
      font-size: 48px;
      letter-spacing: -1.5px;
      max-width: 90%;
    }

    &-wrap{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      span{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;

        &{
          @include mixins.font('secondary');
        }
      }
    }

    span{
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-inline: 0.8rem;
      background-color: #0084FF;
      top: -1.5rem;
      position: relative;
      background: url('../assets/images/hero_title_icon.webp') no-repeat;
      background-position: center;
      background-size: contain;

      @include mixins.respond(lg) {
        top: -1rem;
      }

      @include mixins.respond(md) {
        top: -0.5rem;
        width: 25px;
        height: 24px;
        margin-inline: 0.2rem;
      }
    }
  }

  &__tag-group{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 83px;
    flex-wrap: wrap;

    @include mixins.respond(md) {
      margin-bottom: 42px;
    }
  }

  &__desc{
    max-width: 50%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.18px;

    &{
      @include mixins.font('secondary');
    }

    @include mixins.respond(md) {
      max-width: 100%;
      font-size: 14px;
      letter-spacing: -0.05px;
    }
  }

  &__tagline{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    max-width: 30%;

    @include mixins.respond(md) {
      max-width: 100%;
      align-items: flex-start;
    }

    p{
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.96px;
      text-transform: uppercase;
      text-align: right;

      @include mixins.respond(md) {
        text-align: left;
        font-size: 18px;
        letter-spacing: -0.46px;
      }
    }
  }

  &__foot{
    max-width: 100%;
    padding-inline: unset;
    padding-top: 48px;

    .container{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include mixins.respond(md) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 42px;
      }
    }
  }
}