@use 'mixins';
@use 'base' as *;

section.howwework{
    background: #FFFFFF;
    position: relative;
    padding-top: 80px;
    // overflow: hidden;
    @include mixins.respond(md) {
        padding-top: 40px;
        // padding-bottom: 40px;
    }
    .container.howwework__container{
        z-index: 1;
        position: relative;
        @include mixins.respond(md) {
            padding: 10px 10px 0px 10px;
        }
        .howwework__content{
            .howwework__content-head{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                gap: 246px;
                @include mixins.respond(md) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                }
            }
            &--span{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 12px;
                gap: 6px;
                img{
                    width: 24px;
                    height: 24px;
                }
                span{
                    color: rgba(2, 6, 9, 0.80);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.12px;
                    text-transform: uppercase;
                }
                .howwework__dsc{
                    color: #020609;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    text-transform: capitalize;
                    opacity: 0.80;
                    max-width: 328px;
                    width: 100%;
                    @include mixins.respond(md) {
                        max-width: 100%;
                    }
                }
            }
            &--title{
                color: #020609;
                font-family: Inter;
                font-size: 52px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
                letter-spacing: -2.08px;
                max-width: 600px;
                width: 100%;
                @include mixins.respond(md) {
                    font-size: 32px;
                    margin-top: 12px;
                }
            }
            &--icon{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 64px;
                padding-top: 16px;
                margin-bottom: auto;
                @include mixins.respond(md) {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                }
                img:nth-child(1){
                    width: 48px;
                    height: 24px;
                }
                img:nth-child(2){
                    width: 196px;
                    height: 16px;
                    @include mixins.respond(md) {
                        display: none;
                    }
                }
            }
            .howwework__content-body{
                display: flex;
                flex-direction: row;
                margin-top: 100px;
                justify-content: flex-start;
                gap: 130px;
                position: relative;
                .howwework__img-progress{
                    // position: sticky;
                    // top: 20px;
                    @include mixins.respond(md) {
                        display: none;
                        margin-top: 80px;
                    }
                    img{
                        width: 100%;
                        max-width: 557px;

                    }
                    .howwework__img-text{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 10px;
                        span{
                            color: #020609;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.72px;
                        }
                    }
                }
                .howwework__line-progress{
                    .line-progress__box{
                        display: grid;
                        grid-template-columns: 0.10fr 0.30fr 1fr;
                        grid-template-rows: 1fr;
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;
                        @include mixins.respond(md) {
                            display: flex;
                            flex-direction: row;
                            gap: 24px;
                        
                            .line-box__numb {
                                order: 2;
                                margin-top: 7px;
                            }
                        
                            .line-box__line {
                                order: 1; 
                            }
                        
                            .line-box__text {
                                order: 3;
                            }
                        }
                        
                        .line-box__numb{
                            color: #020609;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.72px;
                            display: flex;
                            justify-content: center;
                        }
                        .line-box__line{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            .line-box__square{
                                width: 18px;
                                height: 18px;
                                // background: #458781;
                                background: #F4F6F6;
                                position: relative;
                            }
                            .dot1{
                                background: #458781;
                            }
                            .line-box__wrap{
                                position: relative;
                                height: 100%;
                                width: 3px;
                                background-color: #F4F6F6;
                                .line-box__dash{
                                    width: 3px;
                                    // min-height: 220px;
                                    height: 0%;
                                    background: #458781;
                                    position: absolute;
                                    top: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                        .line-box__text{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 12px;
                            padding-bottom: 80px;
                            .tagline-box_text{
                                color: #FFF;
                                font-family: Inter;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: -0.72px;

                                border-radius: 100px;
                                background: #458781;
                                display: flex;
                                padding: 7px 14px 8px 12px;
                                justify-content: center;
                                align-items: center;

                            }
                            .tagline-title{
                                color: #020609;
                                font-family: Inter;
                                font-size: 28px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%;
                                letter-spacing: -1.12px;
                            }
                            .tagline__dsc{
                                color: #020609;
                                font-family: Inter;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                                opacity: 0.8;
                                max-width: 300px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .howwework__img-bottom{
        width: 100%;
        height: 538px;
        position: relative;
        background-image: url("assets/images/howwework-img-btm.png");
        background-repeat: no-repeat;
        background-position: center top;
        padding: 120px 40px 130px 40px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 160px;
        color: #FFFFFF;
        @include mixins.respond(md) {
            flex-direction: column;
            height: auto;
            gap: 20px;
            padding: 40px 10px 40px 10px;
            background-size: cover;
        }
        .img-bottom__dsc{
            color: #FFF;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            max-width: 901px;
            @include mixins.respond(md) {
                font-size: 16px;
                max-width: 100%;
            }
        }
        .services-page__content--span{
            gap: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}