@use 'mixins';

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-block: 24px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  z-index: 9;
  transform: translateY(0%);
  transition: all 300ms ease;

  &.hidden {
    transform: translateY(-100%);
  }

  &.show {
    transform: translateY(0%);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(255,255,255,0.10);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-block: 12px;

    .navbar__menu a{
      color: black;
    }
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu{
    display: flex;
    gap: 24px;
    align-items: center;

    a{
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.16px;

      &{
        @include mixins.font('secondary');
      }

      @include mixins.respond(md) {
        font-size: 14px;
      }
    }
  }
}