@use 'mixins';
@use 'base' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  z-index: 999;
  transition: all 300ms ease;

  &.hidden {
    transform: translateY(-100%);
  }

  &.show {
    transform: translateY(0%);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(255,255,255,0.10);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-block: 12px;

    .navbar__menu a {
      color: $black;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
    .navbar__links--wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-left: auto;
      margin-right: auto;
      @include mixins.respond(md) {
        flex-direction: column;
      }
      a {
        text-decoration: none;
        color: $white-60;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.16px;
        text-transform: uppercase;
        &:hover {
          color: $white;
        }
        @include mixins.font('secondary');
  
        @include mixins.respond(md) {
          font-size: 14px;
        }
      }
    }


    @include mixins.respond(md) {
      position: fixed;
      inset: 0;
      background: black;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      z-index: 998;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .btn {
        margin-top: 16px;
      }
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;

    span {
      display: block;
      width: 22px;
      height: 2px;
      background: white;
      transition: all 0.3s ease;
    }

    @include mixins.respond(md) {
      display: flex;
    }


    &.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  &__logo{
    span{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      a{
        text-transform: uppercase;
        font-family: 'Thunder LC';
        font-size: 36px;
        line-height: 100%;
      }
    }
  }


  @include mixins.respond(md) {
    .navbar__menu {
      display: none;
    }

    &__menu.active {
      display: flex;
    }
    .navbar__logo {
      z-index: 999;
    }
  }
}

.navbar--light {
  .navbar__menu a {
    color: $white-60;
    &:hover {
      color: $white;
    }
    @include mixins.respond(md) {
      color: $white-60;
    }
  }
  a.btn{
    background: $white;
    color: $black;
    &:hover {
      color: $black;
    }
  }

}

.navbar--dark {
  .navbar__menu a {
    color: $black;
    &:hover {
      color: $white;
    }
    @include mixins.respond(md) {
      color: $white-60;
    }
  }
  .navbar__toggle{
    span{
      background-color: $black;
    }
  }
  .navbar__toggle.active{
    span{
      background-color: $white;
    }
  }
  .navbar__logo{
    a{
      color: $black;
    }
  }
  a.btn{
    background: $black;
    color: $white;
    @include mixins.respond(md) {
      color: $black;
      background: $white;
    }
  }
}

.navbar--dark.show {
  a.btn{
    background: $black;
    color: $white;
  }
}