@use 'mixins';
@use 'base' as *;

section.services{
    background-color: $white;
    position: relative;
    .container.services__container{
        position: relative;
        padding-bottom: 80px;
        padding-top: 160px;
        // padding-inline: 40px;
        border-inline: 1px solid rgba(0, 0, 0, 0.12);
        @include mixins.respond(md) {
            margin-bottom: unset;
            padding-top: 120px;
        }
        .services__content{
            &-head{
                color: $black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                flex-wrap: wrap;
                @include mixins.respond(md) {
                    flex-direction: column;
                    gap: 20px;
                    align-items: flex-start;
                    max-width: 500px;
                }
                h1 {
                    color: #020609;
                    font-family: Inter;
                    font-size: 78px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%;
                    letter-spacing: -3.12px;
                    width: 100%;
                    max-width: 832px;
                    @include mixins.respond(md) {
                        font-size: 40px;
                        letter-spacing: -1.12px;
                    }
                }
                p{
                    color: rgba(2, 6, 9, 0.80);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    width: 100%;
                    max-width: 443px;
                }
            }
        }
    }

}
section.services__content-body{
    padding: unset;
    border-inline: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 615px;
    // background-color: white;
    @include mixins.respond(md) {
        height: 415px
    }
    img{
        width: 100%;
        max-width: 100%;
        height: 615px;
        object-fit: cover;
        @include mixins.respond(md) {
            height: 415px
        }
    }
}