@use 'mixins';
@use 'base' as *;

section.solutions{
    background-color: $white;
    // padding-top: 160px;
    // padding-bottom: 80px;
    position: relative;
    @include mixins.respond(md) {
        padding-top: 100px;
    }
    .container.solutions__container{
        position: relative;
        padding-bottom: 80px;
        border-inline: 1px solid rgba(0, 0, 0, 0.12);
        padding-top: 160px;
        @include mixins.respond(md) {
            margin-bottom: unset;
            padding-top: 40px;
        }
        .solutions__content{
            &-head{
                color: $black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                flex-wrap: wrap;
                gap: 20px;
                @include mixins.respond(md) {
                    flex-direction: column;
                    gap: 20px;
                }
                h1 {
                    color: #020609;
                    font-family: Inter;
                    font-size: 78px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%;
                    letter-spacing: -3.12px;
                    max-width: 832px;
                    @include mixins.respond(md) {
                        font-size: 48px;
                        letter-spacing: -1.12px;
                    }
                }
                p{
                    color: rgba(2, 6, 9, 0.80);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    max-width: 443px;
                }
            }
        }
    }
    // .solutions__content-body{
    //     position: relative;
    //     z-index: 1;
    //     width: 100%;
    //     max-width: 1500px;
    //     margin: auto;
    //     img{
    //         width: 100%;
    //     }
    // }
}

section.solutions__content-body{
    padding: unset;
    border-inline: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 615px;
    // background-color: white;
    @include mixins.respond(md) {
        height: 300px;
    }
    img{
        width: 100%;
        max-width: 100%;
        height: 615px;
        object-fit: cover;
        @include mixins.respond(md) {
            height: 300px;
        }
    }
}