@use 'base';
@use 'navbar';
@use 'hero';
@use 'footer';
@use 'running';
@use 'sponsore';
@use 'aboutus';
@use 'keyoutcome';
@use 'core';
@use 'whoweserve';
@use 'solutions-hero';
@use 'forfinancial';
@use 'services-hero';
@use 'services-section';